.cont{
	width: 500px;
	background-color: white;
	margin: auto;
	padding: 20px;
	border: 20px;
	border-color: black;
	overflow: 
	
}

.class{
	background-color: yellow;
}
.panel{
	height: 500px;
	text-align: center;
	color: white;
 	line-height:
 
}



.one{
	background-color: red;
	width: 500px

}
.two{
	background-color: orange;
	width: 500px;
}
.three{
	background-color: purple;
	width:700px;

}
.four{
	background-color: green;
	width: 300px;
}
.five{
	background-color: black;
	width: 500px;
}
.six{
	background-color: maroon;
	width: 500px;
}
.seven{
	background-color: grey;
	width: 700px;

}
.eight{
	background-color: blue;
	width: 300px;
}
.nine{
	background-color: pink;
	width: 500px;

}
.ten{
	background-color: yellow;
	width: 500px;
}